
/* div{position:absolute;} */

/* 입력부분 */
input{
    /* position: relative; */
    margin-top: 100%;
    margin-bottom: 100%;
    padding: auto;
    /* left:50%;
    bottom:20%; */
    width: 200px;
}

#score{
    position:relative;
}

.playground{
    background-color: blue;
    width:600px;
	height:400px;
}

.word{
    position: absolute;
    

}

/* #score{
    width: auto;
    height: auto;
} */

body{
    background:lightblue;
    font-size: large;
}

/* 단어 내려오는 효과 */
.suddens{
    background : #FAE0D4; color : red;
}
.zigs{
    background : pink; color : black;
}
.fasts{
    background : blue; color : yellow;
}
.gogos{
    background : black; color : white;
}
